<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  
  <classes>
 



  <class name ="runners.Get_All_Users_API_Step_Runner"/>
   <class name ="runners.GET_City_Users_API_Step_Runner"/>
   <class name ="runners.Get_instructions_API_Step_Runner"/>
   <class name ="runners.Get_User_API_Step_Runner"/>
  
 
  </classes>
  
  </test> <!-- Test -->
</suite> <!-- Suite -->
